<!DOCTYPE>
<html lang="en-US">
  <head>
    <meta charser="utf-8">
    <title> Stripe Tutorial </title>
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>
       /* // set API key
        var stripe = Stripe('pk_test_02sYlq20tWN23NxOd1Pz3GIJ');
        // use prebuilt UI to collect card information
        var elements = stripe.elements();
        var card = elements.create('card');
        //convert card information collected into a single-use token that we can safely pass to your server to use in an API call.
        stripe.createToken(card).then(function(result) {
        // handle result.error or result.token
        });*/
    </script>
    <style>
        .image {
            height: 200px !important;

        }
    </style>
   </head>
  <body>
    <div class="container">
      <h1> Advanced Internet Programming Collection </h1>
      
      {% if paid %}
        <p class="alert-success" align="center"> Thank you for purchasing {{ paid_tutorial.title }} by {{ paid_tutorial.author }} </p>
        <a href="{{ paid_tutorial.presentation }}" target="blank">Learn about {{ paid_tutorial.title }} here </a> <br>
        <a href="{{ paid_tutorial.tutorial }}" target="blank">{{ paid_tutorial.title }} Tutorial</a><br>
        <hr>
      {% endif %}
      {% if error %}
        <p class="alert-danger" align="center">{{ error_message }} </p>
        <hr>
      {% endif %}
      
      <p>You can purchase any of these tutorials to learn about the latest technologies in Web Development, and how you can use them in your own projects. </p>


      <div class="row">
        {% for tutorial in tutorials %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{{ tutorial.image }}" class="image">
              <div class="caption">
                <p>Author: {{ tutorial.author }}</p>
                <p>Price: ${{ tutorial.price/100 }}</p>
                {% if tutorial != paid_tutorial %}
                  <form action="/" method="POST" align="center">
                    <input id="title" name="title" type="hidden" value="{{ tutorial.title }}">
                    <input id="amount" name="amount" type="hidden" value="{{ tutorial.price }}">
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_02sYlq20tWN23NxOd1Pz3GIJ"
                      data-amount="500"
                      data-name="Advanced Internet Programming Collection"
                      data-description="{{ tutorial.title }}"
                      data-image="{{ tutorial.image }}"
                      data-label="Buy {{ tutorial.title }}"
                      data-locale="auto">
                    </script>
                  </form>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    
    
    
  </body>
</html>
